<h1>Find and create your recipes</h1><br>
<p class="lead">Welcome to My Recipes App. It can be for building simple and beautiful home or commercially 
                made recipes. Download, edit the recipes, and add your own photos to make it simply special.
                </p><br>
<%= link_to "Sign up now!", "", class: "btn btn-lg btn-success"%>
<br>

<div class="row">
    <div class="col-lg-4 left">
        <h3 class="midrow">View Recipes as Guest</h3>
        <p>Browse and view recipes as a guest and Sign Up later</p>
        <p><%= link_to "Browse Recipe Listing", recipes_path, class: "btn btn-warning btn-small"%></p>
    </div>
    <div class="col-lg-4 left">
        <h3 class="midrow">View Recipes as Guest</h3>
        <p>Browse and view recipes as a guest and Sign Up later</p>
        <p><%= link_to "Browse Recipe Listing", "", class: "btn btn-warning btn-small"%></p>
    </div>
    <div class="col-lg-4 left">
        <h3 class="midrow">View Recipes as Guest</h3>
        <p>Browse and view recipes as a guest and Sign Up later</p>
        <p><%= link_to "Browse Recipe Listing", "", class: "btn btn-warning btn-small"%></p>
    </div>
</div>